<div class="row">
	<div class="col-xl-12">
		<h3>{{ title }}</h3>
	</div>
</div>


<div class="row">
	<div class="col-xl-12">
		
		<p>Pay with Bitcoin:</p>
		<br />
		
		
		<ul>
			<li *ngFor="let buyWithLinks of links">
				<a href="{{buyWithLinks.dchLink}}" target="_blank">{{buyWithLinks.dchLink}}</a>
				<br />
				<p>{{buyWithLinks.dchLinkDescription}}</p>
			</li>
		</ul>
		
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

<div class="row">
	<div class="col-xl-12">
		<p>Website by</p><a href="http://www.glikdesign.com" target="_blank">Glik Design</a>
	</div>
</div>