<div class="main-container">
    <div class="pairs-container" *ngFor="let coins of coinsPairs; index as i">
      <div class="pairsHeader">
        <div class="redRightArrow">></div>
        <div>
          <select class="coinsDropDown"
                  (change)="setSelectedCurrencies($event, i)" [(ngModel)]="coins.currentCoin">
          <!-- let coinsSymbols of coins.coins -->
            <option *ngFor="let currenciesSymbols of coins.coins">{{currenciesSymbols}}</option>
          </select>
        </div>
        <div class="removeCoinsPair" (click)="removeItem(i)">
          <span>x</span>
        </div>
      </div>
      
      <div class="bidOfferContainer">
        <!-- Bid container (left) -->
        <div>
          <p class="bidOfferButton"><!--Bid-->{{coins.currency1.symbol}}</p>
          <p class="bidValue">
              <span class="largeDecimalDigits">{{coins.currency1.price}}</span>
          </p>
        </div>

        <!-- Offer container (right) -->
        <div>
          <p class="bidOfferButton"><!--Offer-->{{coins.currency2.symbol}}</p>
          <p class="offerValue">
              <span class="largeDecimalDigits">{{coins.currency2.price}}</span>
        </div>
      </div>
    </div>

    <!-- Green plus button -->
    <div class="addCoinsPair">
      <p (click)="addCoinsPair()">+</p>
    </div>
  </div>
