.main-container, .pairsHeader, .currenciesContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    flex-wrap: wrap;
  
    width: 98%;
    padding: 2px;
    margin: 10px 0 20px 0;
    background-color: /*#2E9DF7*/ rgb(3, 19, 75);
  }
  
  .pairsHeader {
    justify-content: space-between;
    margin: 0; padding: 0;
    background-color: rgb(122, 127, 173);
  }
  
  .coinsDropDown {
    border-color: black;
    height: 30px;
  }
  
  .pairs-container {
    /*flex-shrink: 3;*/
    display: block;
    width: 32%;
    height: 100%;
    margin: 1px;
    border: 1px solid rgb(193, 197, 199);
    background-color: rgb(122, 127, 173);
   
  }
  
  .redRightArrow {
    color: black;
    font-weight: 800;
   /*font-size: 20pt;*/
  }
  
  select {
    width: 98%;
    height: 20px;
    margin-left: 2px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: black;
    color: white;
  }
  
  .dropDown2 {
    border-color:#5D5D5D;
    border-radius: 2px;
    height: 25px;
    direction: rtl;
  }
  
  .addCoinsPair {
    width: 32%;
  }
    .addCoinsPair p {
      cursor: pointer;
      font-weight: bold;
      font-size: 40pt;
      line-height: 0.5em;
      background-color:rgb(81, 28, 197);
      margin: 10% 0 0 40%;
      padding: 3% 0 0 2%;
    
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: white;
    }
  
  .removeCoinsPair {
    color: white;
    margin: 5px 0 0 0;
    
    padding: 5px;
    background-color: black;
    border-radius: 50%;
    width: 18px; height: 18px;
  }
    .removeCoinsPair span {
      position: relative;
      top: -7px;
      cursor: default;
    }
  
  .currenciesContainer {
    padding: 0 0 1px 1px;
    margin-bottom: 1px;
  }
  .currenciesContainer div {
    /*border: 1px solid #5D5D5D;*/

    background-color: rgb(247, 248, 248);
    /*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/

    width: 49%;
    height: 50px;
    margin: 1px 0 0 2px;
    padding: 0;
  }
  
  .currenciesContainer p {
    font-size: 7pt;
  }
  
  .currencySymbol {
    margin-left: 40%;
    color: black;
  }
  
  p {
    color: white;
  }
  
  .currency1Value, .currency2Value {
    margin: -30px 0 0 10%;
  }
  .currency1Value {
    color: rgb(22, 7, 90);
  
  }
  .currency2Value {
    color: rgb(8, 106, 235);
  }
  
  .largeDecimalDigits {
    font-size: 18pt;
    font-weight: bold;
    position: relative;
    top: 15px;
    margin: 2px 8px 0 8px;
  }