<div class="main-container">

	<!-- Mobile Bar & Menu Icon -->
	<input type="checkbox" class="menu-toggle" id="menu-toggle">
	<div class="mobile-bar">
		<label for="menu-toggle" class="menu-icon">
			<span></span>
		</label>
	</div>
	<!--  ********** -->
	
	<div class="sideMenu">
		<div>
			<img class="img-fluid sidebarIcon" src="../assets/images/Bitcoin.png" width="100px" />
		</div>
		 
		<nav> 
		
			<!-- **** -->
			<ul class="ca-menu">
				<li>
					<a routerLink="/main">
						<span class="ca-icon fas fa-desktop" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Main</p>
							
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/buy-sell">
						<span class="ca-icon fab fa-btc" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Buy / Sell cryptocurrencies</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/digital-wallet">
						<span class="ca-icon far fa-money-bill-alt" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Digital Wallet</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/jobs">
						<span class="ca-icon fas fa-briefcase" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Jobs</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/digital-coins">
						<span class="ca-icon fas fa-list" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Digital Coins list</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/mining">
						<span class="ca-icon fas fa-industry" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Mining</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/startups">
						<span class="ca-icon fas fa-coffee" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Startups | ICO</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/ethereum">
						<span class="ca-icon fab fa-ethereum" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Ethereum</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/news">
						<span class="ca-icon fas fa-newspaper" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">News</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/buy-with-digital-coin">
						<span class="ca-icon fas fa-shopping-cart" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Buy with Digital Coins</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
				<li>
					<a routerLink="/investment">
						<span class="ca-icon fas fa-chart-line" aria-hidden="true"></span>
						<div class="ca-content">
							<p class="ca-main">Investment</p>
							 
							<p class="ca-sub">Personalized to your needs</p>
						</div>
					</a>
				</li>
			</ul>
			<!-- **** -->
			
		</nav>
		
	</div><!-- sideMenu -->
	
	<div class="content_area">
		<div class="container-fluid">
			 <router-outlet></router-outlet>		
		</div>
	</div><!-- content_area -->
	
</div><!-- main-container -->

