<!-- Header -->
<div class="row">
	<div class="col-xl-12 headerCoinsRates">
		<div *ngIf="cryptos" class="cryptosRateContainer">
			<div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
				<span class="left">{{ crypto }}</span>
				<span class="right">{{ cryptos[crypto].USD | currency:'USD':true}}</span>
			</div>
		</div>
	</div>
</div>

<!--
<div class="row">
	<div class="col-xl-12">
		<div *ngIf="cryptos">
			<div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
				<span class="left">{{ crypto }}</span>
				<span class="right">{{ cryptos[crypto].USD | currency:'USD':true}}</span>
			</div>
		</div>
	</div>
</div> -->
<!-- ********* -->


<div class="row">
	<div class="col-xl-12 headerBg">
		<h1>{{ title }}</h1>
	</div>
</div>

<div class="row" style="height: 300px; background-color: #2E9DF7; padding: 5% 15% 10% 15%;">
	<div class="col-xl-12">
		<h2>Digital Coin Hub is information source about Cryptocurrencies, Blockchain, and more</h2>
		<p>
			Digital Coin Hub is the place where you can find all the information you need about cryptocurrencies, 
			Blockchain, new startups, ICO's, Jobs, where and how to mine, news sources, and more. 
		</p>		
	</div>
</div>

<div class="row">
	<div class="col-xl-6" style="background-color:#BDDFFF; height: 250px; padding: 50px;">
		<h3 class="text-center">Get information about Cryptocurrencies and Blockchain</h3>
	</div>
	<div class="col-xl-6" style="background-color:#73DFFF; padding: 50px;">
		<h3 class="text-center">Find news sources, jobs, and more</h3>
	</div>
</div>

<div class="row">
	<div class="col-xl-12">
		<p style="color: black;">Popular Stocks:</p>
		<p style="color: black;">Google: {{stockSymbol}}. {{stock}}</p>
	</div>
</div>

<div class="row">
	<div class="col-xl-4">
		<form [formGroup]="getStockForm">
			<label>Search stock by company name:
				<input type="text" formControlName="stockName">
			</label>
			<button mat-raised-button color="primary" (click)="searchStock('byCompany')">search</button>
		</form>
	</div>

	<div class="col-xl-4">
		<form [formGroup]="getStockForm">
			<label>Search stock by symbol:
				<input type="text" formControlName="stockSymbol">
			</label>
			<button mat-raised-button color="primary" (click)="searchStock('bySymbol')">search</button>
		</form>
	</div>

	<div class="col-xl-1">
		{{stockFromSearch.symbol | uppercase}}: {{stockFromSearch.value}}
	</div>
</div>

<div class="row">
	<div class="col-12">
		<ag-grid-angular
    		style="width: 500px; height: 200px; margin: 40px 0 45px 0;"
    		class="ag-theme-balham"
    		[rowData]="rowData"
    		[columnDefs]="columnDefs"
    	>
		</ag-grid-angular>
	</div>
</div>

<!-- Exchange Rates -->
<div class="row">
	<div class="col-xl-3 d-xl-block col-lg-2 d-lg-block d-md-none d-sm-none d-none"></div>
	<div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
		<app-display-exchange-rates></app-display-exchange-rates>
	</div>
	<div class="col-xl-3 d-xl-block col-lg-2 d-lg-block d-md-none d-sm-none d-none"></div>
  </div>
<!-- ************** -->

<!-- Latest questions from stackexchange -->
<div class="row" style="background-color: rgb(220, 238, 255);">
	<div class="col-12">
		<h3>Latest questions about Bitcoin / Blockchain from stackexchange</h3>
	</div>
</div>
<div class="row" style="background-color: rgb(220, 238, 255);">
	<div class="col-12">
		<div class="questionWrapper" *ngFor="let question of questionsFromStackExchange">
			{{question.title}}
			<br />
			<a href="{{question.link}}" target="_blank">{{question.link}}</a>
		</div>
	</div>
</div>
<!-- *********************************** -->

<div class="row" style="background-color:#6A6EEC">
	<div class="col-xl-12">
		

		
		<h2>Advertising networks</h2>
		<br />
		<a href="https://bitmedia.io" target="_blank">https://bitmedia.io</a>
		<br /><br />
		
		<h2>Social media networks: </h2>
		<br />
		<a href="https://steem.io" target="_blank">https://steem.io</a>
		<br />
		<a href="http://www.coinsns.com" target="_blank">http://www.coinsns.com</a>
		<br />
		<a href="http://www.paymeabit.com" target="_blank">http://www.paymeabit.com</a>
		<br />
		<a href="https://bitconnect.co" target="_blank">https://bitconnect.co</a>
		<br />
		<a href="https://www.etoro.com/" target="_blank">https://www.etoro.com/</a>
		
		<br /><br />
		<p>blockchain based Financial Investment Banking Platform</p>
		<a href="https://blockhaus.io" target="_blank">https://blockhaus.io</a>
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

<div class="row">
	<div class="col-xl-12">
		<p>Website by</p><a href="http://www.glikdesign.com" target="_blank">Glik Design</a>
	</div>
</div>